<link rel="import" href="bower_components/polymer/polymer.html">

<dom-module id="saludo-polymer">
  <template>
    <style>
    h1{
      color: blue;
    }
    </style>
    <h1>Bienvenido <content></content></h1>
  </template>
  <script>
    Polymer({
      is: "saludo-polymer"
    });
  </script>
</dom-module>
