<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-componenteposgree">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        display: inline-block;
        background-color: #FF66CC;
      }
      :host([hidden]) { display: none; }
    </style>

    <!-- Metemos parte para interactuar con MongoDB -->
    <div><span>Para participar y visualizar el blog debe logarse....</span></div>
    <!--<div><span>Esta es mi app key necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F y la <a href="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F">url</a> para ver los registros </span></div>
    --><div>
      User ID:
      <input type="text" name="userInput"/>
      <p>
      Password:
      <input type="text" name="passwordInput"/>
      <p>
      <div><button type="button" name="btnLogarse" on-click="Logarse">Entrar</button></div>
      <p>
        Si aún no esta dado de alta debe Registrarse pulsando <a href="alta.html" target="_blank">Aqui</a>
      <!--  Si aún no esta dado de alta debe Registrarse pulsando <a href="alta" target="_self">Aqui</a>-->
    </div>

  

  </template>
    <script>

      Polymer({
        is: 'my-componenteposgree',
        properties: {
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/posts"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            posts: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            },
            hidden: { type: Boolean, value: false, reflectToAttribute: true, notify: true}
        },
        listeners: {
        },
        grabarPosts: function() {
          var titulo = document.getElementsByName("tituloInput")[0].value;
          var texto = document.getElementsByName("textoInput")[0].value;
          var nombre = document.getElementsByName("textoNombre")[0].value;
          var apellido = document.getElementsByName("textoApellido")[0].value;
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.url + this.apiKey, true);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"titulo":"' + titulo + '", "texto": "' + texto + '", "autor":{"nombre":"' + nombre + '", "apellido": "' + apellido + '"}}');

        },
        obtenerPosts: function() {
          var peticion = new XMLHttpRequest();
          peticion.open("GET", this.url + this.apiKey, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts = JSON.parse(peticion.responseText);
          sessionStorage["posts"] = peticion.responseText;
        },
        Logarse: function() {

                //elemento = this.$;
                /*var usuario = document.getElementsByName("userInput")[0].value;
                var password = document.getElementsByName("passwordInput")[0].value;
                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";
                var parametro = "?usuario=eq."+usuario+"&password=eq."+password;
                URLItem = URLItem + parametro;
                peticion.open("GET", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");


                //console.log(parametro);
                peticion.send();
                var valores = JSON.parse(peticion.responseText);*/
                var valores=1;
                //if( valores.length > 0 ) {
                if (valores==1){
                      this.hidden=true

                    /*var atributos = "";
                    for(var aux in valores[0])
                      atributos += aux + " ";

                    alert("Los atributos son: " + atributos);*/

                  }
                  else
                    alert("No estas registrado vete a cuenca");

              //  var llega=this.posts[0][0];
                //alert (llega);
                //alert(aver);
//alert (llega.value[0]);


            },



    })
    </script>
</dom-module>
